@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('@tldraw/editor/editor.css');
@import url('@tldraw/tldraw/tldraw.css');

body {
    padding: 2em 5em;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overscroll-behavior: none;
    touch-action: none;
}

#main-app {
    .demos-container {
        margin-top: 1em;
        width: 100%;
        height: 80vh;
        border: 2px dotted black;
        border-radius: 6px;
        position: relative;
        overflow: hidden;

        #tl-draw-demo {
            width: 100%;
            height: 100%;
            position: relative;

            .tldraw__editor {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
}